/* Webpage-wise */
*{
    box-sizing: border-box;
}
/* Theme Color*/
:root {
    --dark:black;
}


/* Body */

body {
    background-color: white;
    font-family: 'mv boli','sans-serif','monospace';
    color:white;
 }


/* Area Dividing Bar*/ 

.title {
    display: flex;
    background-color:black;
    border-top: 10px solid white; 
    border-bottom: 10px solid white;
    width: 100%;
}

.description {
    margin: auto;
    font-size: 40px;
}

/* Nav Bar*/

nav{
    border-bottom: 10px solid white;
}


nav ul{
    background-color:var(--dark);
    height:auto;
    width: 100%;
    }

nav ul li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

nav ul li section{
    text-align: center;
    flex-basis: 40%;
    font-size: 24px;
    
    
}
nav ul li a{
    flex-basis: 15%;
    text-decoration: none;
    text-align: center;
    color:white;
}

nav ul li a:hover{
    
    text-decoration: underline;
    transform: scale(1.2);
    box-shadow: 0px 0px 25px rgb(7, 92, 50);
}

/* botton*/

button{
    position: fixed;
    margin:0;
    bottom:0;
    right:0;
    border:none;
    background-color: transparent;
}

button img{
    margin: auto;
    height: 50%;
    width: 50%;
    border:3px solid gray;
    border-radius: 15%;
}

/* Personal picture */

.mecoding{
    width:100%;
    height:400px;
}

.mecoding img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    }

/* About me*/
.aboutme{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    
    justify-content:center;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: var(--dark);
    padding-left: 15%;
    padding-right: 15%;
}

.aboutme div{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 35%;
    background-color: var(--dark);
    margin-left: 35px;
    margin-right: 35px;
}

.aboutme div p{
    margin-top: 25px;
    font-size: 18px;
}

.aboutme div span{
    color: green;
}

.meworking{
    margin: auto;
    height:100%;
    width:100%;
    display: block;
}

/* Skill*/

.skillset {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    padding-left: 15%;
    padding-right: 15%;
  }

.skillset div {
    display: flex;
    border: 10% solid black;
    flex-grow: 1;
    flex-basis: 25%;
}

.skillset div img{
     margin: auto;
     display: block;
     height:100%;
     width:100%;
}

/*Porfolio*/

.application{      
    background-color: var(--dark);  
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-left: 15%;
    padding-right: 15%;
}

.horiseon {
    margin: auto;
} 

.empty {
    margin: auto;
}

.horiseon a img:hover , .empty img:hover{
    opacity: 0.5;
    transform: scale(0.85);
}

.horiseon a img , .empty img , .email card a img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.empty{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/*Porfolio*/

.email{
    background-color: var(--dark);  
    display: flex;
    justify-content:center;
}

.email card {
   margin: auto;
}

.email card a img:hover{
    opacity: 0.5;
    transform: scale(0.85);
   
}


/* Responsive ViewPort Design */
@media screen and (max-width: 992px) {

    nav ul li section{
        flex-basis: 100%;
          
    }

    nav ul li a{
        flex-basis: 50%;
    }

    .aboutme {
        flex-direction: column;
        }

    .aboutme div {
        flex-basis: 40%;
        }
    
    button img , .email card a img{
        height: 35%;
        width: 35%;
    }


}



